{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Disposicion'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}
{% block menu %}
     {% include "::menuFrontend.html.twig" %}
{% endblock %}
{% block page %}


    <h1>hola hola hola</h1>
   
        
{% endblock %}


{% block javascript %}
<script type="text/javascript">
$('.tooltips').tooltip();
</script>




{% endblock %}